/* Password Reset Request Page Styles */
.vh-100 {
    height: 100vh;
    background: linear-gradient(to bottom, #000066 0%, #cc00cc 100%);
}

.container-padding-top {
    padding-top: 130px;
}

.transparent-card {
    background-color: transparent;
    border: none;
}

.reset-header {
    letter-spacing: 1px;
}

.input-white {
    color: black;
}

.btn-large {
    font-size: 18px;
    width: 100%;
}
