.contentMarginTop {
    margin-top: 100px;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardBox {
    padding: 30px;
    border-radius: 10px;
    color: white;
}

.memberCard {
    background-color: transparent;
}

.memberThumb {
    margin-bottom: 20px;
}

.profileImage {
    border-radius: 50%;
    width: 240px;
    height: 240px;
    object-fit: cover;
}

.profileName {
    font-size: 36px;
    font-weight: bold;
}

.textWhiteLarge {
    font-size: 24px;
    margin: 0;
}

.mtNegative {
    margin-top: -15px;
}

.btnLarge {
    padding: 15px 60px;
    font-size: 24px;
    border-radius: 10px;
}