/* Profile Page Styles */
.content-margin-top {
    margin-top: 100px;
}

.profile-image {
    aspect-ratio: 1 / 1;
}

.text-white-large {
    color: white;
    font-size: 24px;
}

.mt-negative {
    margin-top: -15px;
}

.btn-large {
    padding: 20px 60px;
    font-size: 24px;
    border-radius: 5px;
}