/* Profile Update Page Styles */
.content-margin-top {
    margin-top: 100px;
}

.profile-image {
    aspect-ratio: 1 / 1;
}

.input-white {
    color: black;
}

.btn-large {
    padding: 15px 60px;
    font-size: 24px;
    border-radius: 10px;
}

/* あとから変更したやつ */
.form-control:focus {
    color: #fff; /* フォーカス時のテキストカラーを白に設定 */
}