.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    overflow-y: auto;
    background: #343a40;
    transition: left 0.3s ease;
}

.sidebar.active {
    left: 0;
}

.sidebar .nav-link {
    color: white;
    padding: 10px 15px;
}

.sidebar .nav-link:hover {
    background-color: #495057;
}

.sidebar .nav-item.profile {
    padding: 20px;
}